In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [2]:
car=pd.read_csv('car data.csv')
car

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [3]:
car.shape

(301, 9)

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
car.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [6]:
car.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [7]:
car['Fuel_Type'].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [8]:
car['Selling_type'].value_counts()

Dealer        195
Individual    106
Name: Selling_type, dtype: int64

In [9]:
car['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [10]:
car['Fuel_Type'] = car['Fuel_Type'].replace({'Petrol':0,'Diesel':1,'CNG':2})
car['Selling_type'] = car['Selling_type'].replace({'Dealer':0,'Individual':1})
car['Transmission'] = car['Transmission'].replace({'Manual':0,'Automatic':1})
car

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,1,0,0,0
297,brio,2015,4.00,5.90,60000,0,0,0,0
298,city,2009,3.35,11.00,87934,0,0,0,0
299,city,2017,11.50,12.50,9000,1,0,0,0
300,brio,2016,5.30,5.90,5464,0,0,0,0

In [11]:
x=car.drop(['Car_Name','Selling_Price'],axis=1)
y=car['Selling_Price']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=99999)

In [13]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.8998943073063804
MSE :  1.8960673066575084

In [14]:
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.9044970407306607
MSE :  1.8088885245901638

In [15]:
rf=RandomForestRegressor()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.9620253442151455
MSE :  0.7192648227868875

In [16]:
ridge=Ridge()
ridge.fit(x_train,y_train)
y_pred=ridge.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.90167859615599
MSE :  1.8622717086016358

In [17]:
lasso=Lasso()
lasso.fit(x_train,y_train)
y_pred=lasso.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.8960388301976543
MSE :  1.96909256526888

In [18]:
gb=GradientBoostingRegressor()
gb.fit(x_train,y_train)
y_pred=gb.predict(x_test)
print('R^2 : ',r2_score(y_test,y_pred))
print('MSE : ', mean_squared_error(y_test,y_pred))

R^2 :  0.9709779194307467
MSE :  0.549697191616842

In [19]:
param_grid = {
    'n_estimators': [50, 100, 200],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5],
    'min_samples_split': [2, 3, 4]
}

# Create the GradientBoostingRegressor model
gb_regressor = GradientBoostingRegressor(random_state=99)

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=gb_regressor, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5, n_jobs=-1)

# Perform hyperparameter tuning
grid_search.fit(x_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print("Best Hyperparameters:")
print(best_params)

# Get the best model
best_gb_regressor = grid_search.best_estimator_

# Make predictions using the best model
y_pred = best_gb_regressor.predict(x_test)

# Evaluate the best model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Best Hyperparameters:
{'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 4, 'n_estimators': 50}
Mean Squared Error: 0.6606786185023422
R-squared: 0.9651184899814386